.aboutus-container {
	padding-top: 125px;

}

.aboutus-container__title {
	font-weight: 900;
	font-size: 75px;
	line-height: 100px;
}

.aboutus-container__button {
	background: linear-gradient(180deg, #931035 -70.47%, #B91C48 123.21%);
	box-shadow: 0 20px 30px rgba(255, 0, 71, 0.265106);
	border-radius: 8px;
	border: none !important;
}

.aboutus-container__button-text {
	font-size: 18px;
	line-height: 22px;
}
