.orange-btn {
  color: #FFB648;
  font-weight: 500;
  font-size: 16px;
}
.edit-btn {
  margin-right: 10px;
}

.secttion-container__header{
  border-bottom: 1px solid #E9E9E9;
}

@media all and (max-width: 567px){
  .orange-btn {
    font-size: 12px;
  }
}